<library path="src">
  <class name="Pattern Manager Plugin" type="rqt_pattern_manager.pattern_manager.PatternManagerPlugin" base_class_type="rqt_gui_py::Plugin">
    <description>
      User interface for Pattern Manager.
    </description>
    <qtgui>
      <!-- optional grouping...
      <group>
        <label>Group</label>
      </group>
      <group>
        <label>Subgroup</label>
      </group>
      -->
      <label>Pattern Manager Plugin</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>